<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8">
	<title>E-menu Employee - Login Page</title>
	<link rel="stylesheet" type="text/css" href="lStyle.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Stick&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>



<h2 class="header_bs">
	BLACKSTAR </h2>

<div class="loginbox">

	<h1> Employee Login </h1>
	<form>
		<p> E-mail</p>
		<input type="text" name="" placeholder="Enter E-mail">
		<p> Password</p>
		<input type="password" name="" placeholder="Enter Password">
		<input type="submit" name="" value="Login">

	</form>
</div>

</body>

</html>