body {
    margin:0;
    padding: 0;
    background: url(backemen.jpg);
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    background-attachment:fixed;

}


.loginbox{
    width: 420px;
    height: 490px;
    background: white;
    color: #D4A017;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius:5%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 80px 30px;


}
.logo{
    width: 130px;
    height: 130px;

    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    font-family: "Ubuntu";
    color: #975737;
    margin: 0;
    padding: 0 0 80px;
    text-align: center;
    font-size: 40px ;
}
.header_bs{
    font-family: 'Stick', sans-serif;
    color:white !important;

    text-shadow: 6px 4px 0px rgb(0 0 0);

    color: peru;
    padding: 0 80px ;
    text-align: center;
    font-size: 90px ;



}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.loginbox input{
    width: 348px;
    margin-bottom: 20px;
    border: black;

}

.loginbox input[type= "text"], input[type ="password"]
{

    border-bottom: 3px solid #975737;

    outline: none;
    height: 40px;
    color: #501d03;
    font-size: 16px ;
}

.loginbox input[type = "submit"]
{
    border : black;
    position: center;
    outline: black;
    height: 40px;
    background: #975737;
    color: white;
    font-size: 18px;
    border-radius: 10px ;

}




